In [1]:
import pandas as pd
#heade =0 lay dong dau tien  lam header, sep phan chia dau
# not khoang trang
df = pd.read_csv('https://raw.githubusercontent.com/phamdinhkhanh/datasets/master/insurance.csv', header=0, sep=',')
print(df.shape) # kich thuoc hang cot, sep phan chia theo dau ,
df.sample(5)
# charge trung vi nho hon trung binh

(1338, 7)

     age     sex     bmi  children smoker     region      charges
548   25  female  28.595         0     no  northeast   3213.62205
389   24  female  30.210         3     no  northwest   4618.07990
775   51    male  33.330         3     no  southeast  10560.49170
189   29  female  32.110         2     no  northwest   4922.91590
191   36  female  26.200         0     no  southwest   4883.86600

In [2]:
df.info()
# non_null tranh mis du lieu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
list(df.columns)# in ra ten cot thong ke kieu so
#dien ta kieu du liwu
df.describe() # mean trung binh thong ke nguyen kia so
#std do lech chuan
# thong ke chuoi
# neu muon dien a all
df.describe(include='all') # thong ke them ca string top so xuat ien nhieu nhat

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [6]:
# loc vs iloc index cua no hien row colums
df.head()# no return 5 hang dau tien

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
df.loc[(df.age==64) | (df.children==5)] # loc hang nao
# hoac co dieu kien va , and , hoac cos tuoi = 64 of childen =5

      age     sex     bmi  children smoker     region      charges
32     19  female  28.600         5     no  southwest   4687.79700
62     64    male  24.700         1     no  northwest  30166.61817
71     31    male  28.500         5     no  northeast   6799.45800
94     64  female  31.300         2    yes  southwest  47291.05500
166    20  female  37.000         5     no  southwest   4830.63000
199    64  female  39.330         0     no  northeast  14901.51670
328    64  female  33.800         1    yes  southwest  47928.03000
335    64    male  34.500         0     no  southwest  13822.80300
378    64  female  30.115         3     no  northwest  16455.70785
398    64    male  25.600         2     no  southwest  14988.43200
402    64  female  32.965         0     no  northwest  14692.66935
413    25    male  23.900         5     no  southwest   5080.09600
418    64    male  39.160         1     no  southeast  14418.28040
420    64    male  33.880         0    yes  southeast  46889.26120
425    45    male  24.310         5     no  southeast   9788.86590
438    52  female  46.750         5     no  southeast  12592.53450
534    64    male  40.480         0     no  southeast  13831.11520
568    49  female  31.900         5     no  southwest  11552.90400
603    64  female  39.050         3     no  southeast  16085.12750
635    64    male  38.190         0     no  northeast  14410.93210
640    33    male  42.400         5     no  southwest   6666.24300
664    64  female  22.990         0    yes  southeast  27037.91410
752    64    male  37.905         0     no  northwest  14210.53595
768    64  female  39.700         0     no  southwest  14319.03100
801    64  female  35.970         0     no  southeast  14313.84630
825    64  female  31.825         2     no  northeast  16069.08475
877    33    male  33.440         5     no  southeast   6653.78860
890    64  female  26.885         0    yes  northwest  29330.98315
932    46    male  25.800         5     no  southwest  10096.97000
937    39  female  24.225         5     no  northwest   8965.79575
969    39  female  34.320         5     no  southeast   8596.82780
984    20    male  30.115         5     no  northeast   4915.05985
1051   64    male  26.410         0     no  northeast  14394.55790
1085   39  female  18.300         5    yes  southwest  19023.26000
1116   41    male  29.640         5     no  northeast   9222.40260
1130   39  female  23.870         5     no  southeast   8582.30230
1241   64    male  36.960         2    yes  southeast  49577.66240
1245   28    male  24.300         5     no  southwest   5615.36900
1265   64    male  23.760         0    yes  southeast  26926.51440
1272   43    male  25.520         5     no  southeast  14478.33015

In [16]:
df.loc[(df.age==64) | (df.children==5), ['age', 'sex', 'smoker']] # loc hang nao
# hoac co dieu kien va , and , hoac cos tuoi = 64 of childen =5 # chi hien cac dong dc lua cho de hien

      age     sex smoker
32     19  female     no
62     64    male     no
71     31    male     no
94     64  female    yes
166    20  female     no
199    64  female     no
328    64  female    yes
335    64    male     no
378    64  female     no
398    64    male     no
402    64  female     no
413    25    male     no
418    64    male     no
420    64    male    yes
425    45    male     no
438    52  female     no
534    64    male     no
568    49  female     no
603    64  female     no
635    64    male     no
640    33    male     no
664    64  female    yes
752    64    male     no
768    64  female     no
801    64  female     no
825    64  female     no
877    33    male     no
890    64  female    yes
932    46    male     no
937    39  female     no
969    39  female     no
984    20    male     no
1051   64    male     no
1085   39  female    yes
1116   41    male     no
1130   39  female     no
1241   64    male    yes
1245   28    male     no
1265   64    male    yes
1272   43    male     no

In [18]:
# lua cho index location
# cho cot hang so vi bat dau bang 0 thif 9 + 1 thi vi tri so 10
df.iloc[[9]]

   age     sex    bmi  children smoker     region      charges
9   60  female  25.84         0     no  northwest  28923.13692

In [19]:
# lay si index so 3 den so 10
df.iloc[3:11]

    age     sex     bmi  children smoker     region      charges
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080

In [26]:
df.iloc[3:5, :-1]

   age   sex     bmi  children smoker     region
3   33  male  22.705         0     no  northwest
4   32  male  28.880         0     no  northwest

In [27]:
# chec kieu due lie
df.age.dtype # kieu du lieu

dtype('int64')

In [29]:
# apply muon xua do la kieu so muon xoa so do la
# df.age.apply(lambda x:x.replace('$', ''))
# cuyen xong so do la chuyen sang float
df.age.appy(lambda x:x.float(replace('$', ''))) # chuyen doi so x sau khi xoa so thuc

In [38]:
# tao columns moi
df["to_age"]= df["age"]+10

In [40]:
# tinh tong so tuoi
tongtuoi =df["age"].sum()
print('Tong tuoi la ',tongtuoi)

Tong tuoi la  52459

In [46]:
# group nu
tuoi=df.groupby("sex")["age"].sum() # gioi tinh dc tinh tong tuoi la
print(tuoi)

sex
female    26151
male      26308
Name: age, dtype: int64

In [50]:
# sap xep so tupo
tuoi.sort_values(ascending=False)

sex
male      26308
female    26151
Name: age, dtype: int64

In [54]:
#lay gia tri duy nhat
df.sex.value_counts()#.count()

male      676
female    662
Name: sex, dtype: int64

In [53]:
# lay gia tri khac nhau
df.sex.nunique()

2